/* 
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* html 기본 폰트 */
html {
  font-size: 62.5%;
  font-family: 'Noto Sans CJK KR';
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 페이지네이션 표시 스타일 설정 */
#root > div > div.sc-eJwXpk.cAJqUF > div > div.sc-bdvvaa.dRKtxF > div > div > div.swiper-pagination.swiper-pagination-bullets{
  bottom: 5px;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
	background-color: black;
}


.swiper-container{
  z-index: inherit !important;
}

/* 폰트 설정 */
@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/NotoSansKR-Light.woff2") format('woff2'),
  url("./fonts/NotoSansKR-Light.woff") format('woff'),
  url("./fonts/NotoSansKR-Light.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/NotoSansKR-Regular.woff2") format('woff2'),
  url("./fonts/NotoSansKR-Regular.woff") format('woff'),
  url("./fonts/NotoSansKR-Regular.otf") format('truetype')
}


@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/NotoSansKR-Medium.woff2") format('woff2'),
  url("./fonts/NotoSansKR-Medium.woff") format('woff'),
  url("./fonts/NotoSansKR-Medium.otf") format('truetype')
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/NotoSansKR-Bold.woff2") format('woff2'),
  url("./fonts/NotoSansKR-Bold.woff") format('woff'),
  url("./fonts/NotoSansKR-Bold.otf") format('truetype')
}

/* 미디어쿼리 */
/* 폰트 rem값 조정 */
/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  html {
    font-size: 52%;
  }
}
/* ipohne 6, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  html {
    font-size: 55%;
  }
}
/* iphone 6+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  html {
    font-size: 62%;
  }
}
/* 태블릿 */
@media all and (min-width:768px) and (max-width:1024px) {
  html {
    font-size: 85%;
  }
}

/* 사파리 input 안 그림자 제거 */
input{
	-webkit-appearance: none;
}

textarea{
	-webkit-appearance: none;
}

